@import '../../../styles/variables/colors.less';
@import '../../../styles/variables/typography.less';

.chart-container {
  max-width: 100%;
  padding: 1rem0;
  box-sizing: border-box;
  text-align: center;
}
.total {
  font-weight: @font-weight-semibold;
  font-size: @font-size-20;
}

.doughnut-wrapper {
  position: relative;
  width: 200px; // tamanho base
  height: 200px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 250px;
    height: 250px;
  }

  @media (min-width: 1024px) {
    width: 300px;
    height: 300px;
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

.legenda {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  text-align: center;
  max-width: 300px;
  margin-inline: auto;

  li {
     margin: 1rem 0;

    .dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 8px;
      vertical-align: middle;

      &.pink {
        background-color: @color-pink;
      }
      &.purple {
        background-color: @color-purple;
      }
    }
    span.label-title {
      font-size: 0.9rem;
      display: block;
    }

    span.label-value {
      font-weight: @font-weight-semibold;
      display: block;
      margin-top: 0.2rem;
    }
  }
}

