
@color-primary: #1AAAB2;



@color-warn: #f51d0e;
@color-purple: #594CBE;
@color-pink: #E22E6F;

@color-white: #ffffff;
@color-black: #21232A;
@color-gray: #BDBDBD;
@text-black: #464646;
